In [1]:
import requests
from io import StringIO

url = "https://people.sc.fsu.edu/~jburkardt/data/csv/airtravel.csv"

response = requests.get(url, timeout=20)
response.raise_for_status()

csv_text = response.text
csv_text[:200]

'"Month", "1958", "1959", "1960"\n"JAN",  340,  360,  417\n"FEB",  318,  342,  391\n"MAR",  362,  406,  419\n"APR",  348,  396,  461\n"MAY",  363,  420,  472\n"JUN",  435,  472,  535\n"JUL",  491,  548,  622\n'

In [ ]:
import pandas as pd

pdf = pd.read_csv(StringIO(csv_text))
df = spark.createDataFrame(pdf)


display(df)

DataFrame[Month: string,  "1958": bigint,  "1959": bigint,  "1960": bigint]

In [3]:
df.createOrReplaceTempView("airtravel")

In [5]:
%sql 
SELECT count(*) FROM airtravel --LIMIT 10

DataFrame[count(1): bigint]